<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading text-uppercase">Annika Johnsson</h1>
    <p class="small text-muted text-lowercase">Art Director / Franka Design</p>
    <div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-instagram"><span></span></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-linkedin"><span></span></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>