<!--The whole content below can be removed with the new code.-->
<!--<nav class="navbar navbar-toggleable-md navbar fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#"><img src="assets/img/franka/a_logo5.jpg" class="img rounded-circle" /></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Hem <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>-->

<!--<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading text-uppercase">Annika Johnsson</h1>
    <p class="small text-muted">Art Director / Franka Design</p>
    <div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-instagram"><span></span></i></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><i class="fa fa-linkedin"><span></span></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>-->
<app-nav></app-nav>
<app-header></app-header>

<div class="album text-muted">
  <div class="container">

    <div class="row no-gutters" id="portfolio">
      <div class="card">
        <img class="img-fluid" src="assets/img/franka/portfolio/1_The_Good_Life.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <p class="card-text">Aftonbladet – The Good Life</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/franka/portfolio/2_Coop_skonhet.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <p class="card-text">Coop Skönhet & Hälsa</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/franka/portfolio/3_Aftonbladet_Resa.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <p class="card-text">Aftonbladet Resa</p>
        </div>
      </div>

      <div class="card">
        <img src="assets/img/franka/portfolio/4_HM_annual-report.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <p class="card-text">H&M Annual Report</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/franka/portfolio/5_HM_Sustainability_Report.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <p class="card-text">H&M Sustainability Report</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/franka/portfolio/6_Tidningen_Vi1.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <p class="card-text">Tidningen Vi</p>
        </div>
      </div>


    </div>

  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      <strong>&copy; Franka Design</strong>
    </p>
  </div>
</footer>