<app-nav>

</app-nav>
<app-header></app-header>
<!--<app-about></app-about>-->
<!--<app-services></app-services>-->





<!-- Callout -->
<!--<aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside>-->

<app-portfolio></app-portfolio>

<!-- Call to Action -->
<!--<aside class="call-to-action bg-primary text-white">
        <div class="container text-center">
            <h3>The buttons below are impossible to resist.</h3>
            <a href="#" class="btn btn-lg btn-light">Click Me!</a>
            <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
        </div>
    </aside>-->

<!-- Map -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.6430332027655!2d18.070371351317796!3d59.32221751854526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77e32569fb03%3A0x551e0151b2c974a9!2sKornhamnstorg+61%2C+111+27+Stockholm%2C+Sverige!5e0!3m2!1ssv!2sus!4v1496687490902"></iframe>
  <br />
  <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
            
        </small>
  <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.6430332027655!2d18.070371351317796!3d59.32221751854526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77e32569fb03%3A0x551e0151b2c974a9!2sKornhamnstorg+61%2C+111+27+Stockholm%2C+Sverige!5e0!3m2!1ssv!2sus!4v1496687490902" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
</section>

<app-footer></app-footer>